dapps/
config2.json
blockchain2.db
nodejs/
blockchain.db.zip
public/
dapps/
genesisBlock.json
dapps/
genesisBlock.json
stacktrace*
logs.log
logs.old.log
.project
.DS_Store
node_modules
npm-debug.log
.idea/
.ed25519-node
blockchain.*
addresses.txt
builded
tmp
__MACOSX/
bfg.jar
*.zip
.directory
ssl/
.vagrant/
sqlite/
